{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Bonjour administrateur !</h1>
    <p>Vous êtes actuellement sur la page d'acceuil du panneau d'administration du site "C'est Ma Maison !", vous pouvez naviguer à travers les différentes pages du sites grâce à la barre de navigation
        située tout en haut de vôtre écran.<br/><br/>Regarder bien avant de cliquer sur un bouton, une mauvaise manipulation est très vite arrivée et vous pourriez supprimer des données
    qui ne faut pas.</p>
{% endblock %}