<h1>Bonjour Administrateur !</h1>

<p>Bienvenue sur la page Administrateur du site web "C'est ma Maison !". Sur ce panneau, vous pouvez lister, ajouter, editer, supprimer ou mettre en avant des catégories, des marques et des produits. <br/><br/>
Faites attention en cliquant sur les bouton :D</p>