 <div class="container-fluid" id="footer">
     <div class="row justyf-content-beetween pt-2 pb-2">
         <div class="col-md-3">
             <a href="#">
                 <img class="img-fluid" src="/assets/images/cestmamaison-1.png" alt="Logo">
             </a>
         </div>
         <div class="col-md-5 ml-5 pl-5">
             <ul class="list-inline quicklinks">
                 <li class="list-inline-item">
                     <a href="#">Mentions Légales</a>
                 </li>
             </ul>
         </div>
         <div class="col-md-3 ml-3 pl-5">
             <ul class="list-inline social-buttons">
                 <li class="list-inline-item">
                     <a href="#">
                         <img class="img-fluid ab fa-facebook-f" src="/assets/images/icone-facebook.png" alt="Logo facebook">
                     </a>
                 </li>
             </ul>
         </div>
     </div>
 </div>

