<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
    <div class="container">
        <div class="logo mr mr-5">
            <img class="img-fluid" src="/assets/images/cestmamaison-1.png" alt="logo">
        </div>
        <a class="navbar-brand js-scroll-trigger" href="#">C'est ma Maison !</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav text-uppercase  ml-auto">
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#">Présentation</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#">Catégories</a>
                </li>
            </ul>
                <div class="dropdown ml-auto">
                    <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Marques
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        {% for brand in brands %}
                            <a class="dropdown-item" href="/brand/{{ brand.id }}">{{ brand.name }}</a>
                        {% else %}
                            <a class="dropdown-item">Pas de marques</a>
                        {% endfor %}
                    </div>
                </div>
            <ul class="navbar-nav text-uppercase  ml-auto">
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>