{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Catégories</h1>
    <ul>
        {% for category in category %}
            <li><a href="/category/{{ category.id }}">{{ category.id }}. {{ category.title }}</a></li>
        {% else %}
            <li>Nothing to display</li>
        {% endfor %}
    </ul>
    <a href="/category/add">Ajouter</a>
{% endblock %}
