{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Marques</h1>
    <ul>
        {% for brand in brand %}
            <li><a href="/brands/{{ brand.id }}">{{ brand.id }}. {{ brand.title }}</a></li>
        {% else %}
            <li>Nothing to display</li>
        {% endfor %}
    </ul>
    <a href="/brands/add">Ajouter</a>
{% endblock %}