
<form method="post">
<input type="hidden" value="{{ brand.id }}" name="id">
<input type="text" value="{{ brand.name }}" name="name">
<input class=btn-success" type="submit" value="Valider">
</form>

