 <div class="container-fluid" id="footer">
     <div class="row justify-content-between">
         <div class="col-md-3">
             <a href="/">
                 <img class="LogoFooter" src="/assets/images/cestmamaison-1.png" alt="Logo">
             </a>
         </div>
         <div class="col-md-5">
             <ul class="list-inline quicklinks">
                 <li class="list-inline-item">
                     <a class="mention" href="http://cestmamaison.com/?page_id=10">Mentions Légales</a>
                 </li>
             </ul>
         </div>
         <div class="col-md-3">
             <ul class="list-inline social-buttons">
                 <li class="list-inline-item">
                     <a href="https://fr-fr.facebook.com/">
                         <img class="img-fluid ab fa-facebook-f" src="/assets/images/icone-facebook.png" alt="Logo facebook">
                     </a>
                 </li>
             </ul>
         </div>
     </div>
 </div>

