{% extends 'Visitor/layout.html.twig' %}

{% block content %}
    <div class="masthead">
        <div class="container">
            <div class="intro-text">
                <div class="intro-heading pt-5 text-uppercase">C'est <span>ma</span> maison !</div>
                <div class="intro-lead-in pt-3">La maison créative et ludique pour <span>l'enfant</span></div>
            </div>
        </div>
    </div>
    <!-- Services -->
    <section class="briefinfo mt-5 bg-transparent">
        <div class="container">
            <div class="row">
                <div class="test-micro
                 col-lg-12 text-center">
                    <h2 class="section-heading text-uppercase">C'est <span> ma</span> maison !</h2>
                    <h3 class="section-subheading ">La maison créative et ludique pour <span> l'enfant.</span></h3>
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col-lg-5 order-1.order-md-2">
                    <p>Votre magasin de jouets et jeux a Orléans vous propose ses plus jolies marques pour les enfants. 2 étages vous attendent pour faire vos cadeaux !</p>
                </div>
                <div class="col-lg-4 offset-lg-3">
                    <img src="/assets/images/jouet-cube.jpg" alt="photo de jouet">
                </div>
            </div>
        </div>
    </section>
    <section class="bg-color">
        <div class="row">
        <div class="frise col-lg-12 text-center mt-5">
            <h2 class="section-heading text-uppercase">Nos <span> marques</span> a la une</h2>
            <h3 class="section-subheading ">Venez découvrir nos marques  <span>phares !</span></h3>
        </div>
        </div>
    </section>
    <div class="row justify-content-center bg-color ">
        <img class="" src="https://media.discordapp.net/attachments/503973474205827081/509023681045987330/imageedit_2_3841166961.png?width=301&height=301" alt="">
    </div>

    <section id="portfolio" class="bg-transparent">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading text-uppercase">Nos <span> produits</span> phares</h2>
                    <h3 class="section-subheading ">Emerveillement <span> garanti !</span></h3>
                </div>
            </div>
        </div>
    </section>
{% endblock %}