{% extends 'Admin/layoutAdmin.html.twig' %}

{% block content %}
    <h1>Bonjour Administrateur !</h1>
    <p class="alert alert-warning">Vous êtes actuellement sur le panneau d'Administrateur du site Web "C'est Ma Maison !". Sur ce panneau, vous pouvez éditer, supprimer, ajouter des catégories, des marques et des produits<br/><br/>Faites donc attention au bouton que vous activez, vous pourriez supprimer un élement par erreur.</p>
{% endblock %}
