{% extends 'Admin/layoutAdmin.html.twig' %}
{% block content %}
    <div class ="container">
    <h1 class="row justify-content-center">Produit {{ product.name }}</h1>
    <p>{{ product.id }}. {{ product.name }}</p>
    <a href="/product/delete/{{product.id}}">Supprimer</a>
    <a href='/admin/product/index'>Retour à la liste</a>
    </div>
{% endblock %}